
/* Encabezado generico*/
.encabezado{ 
    border-collapse: separate;    
    width: 100%;
}

/* Información del tema tanto en Ver como en Agregar*/
.infoTema li{
    display: inline;     
    margin-right: 20px;
}

/* Agregar Comentario*/
.listaComentarios hr {     
    width:50%;     
    margin-right: 50%;
    height:1px; 
    background: #fff 
}

ul.listaComentarios{
    list-style-type: none;
}

.listaComentarios th ,tr {
    border-right: 1px solid black;
}
textarea{
    background-color: whitesmoke;
    width: 100%;
}
.enviarComentario{
    background-color: #0B3861;
    color: white;
    padding: 5px 5px;    
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: right;
}

/* Ver Tema Pregunta*/
.verTemas a{
    color: black;
    text-decoration: none;
}

.verTemas hr{
    width: 50%;     
    margin-right: 50%;
    height:1px; 
    background: #fff 
}

.verTemas div{
    padding: 10px;
}