/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2018, 3:13:42 PM
    Author     : edervs
*/

/*Pie de página generico*/
footer {   
    width: 100%;
    background-color: #0B3861;
    color: white;
    position: relative;
    bottom: 0;
    padding: 16px 0;
    position: fixed;
}        
ul.footer{
    list-style-type: none; 
}    

.footer li a{
    text-decoration: none;
    color: white;
}

.footer {
    display: block;
    margin: 0 auto;
    padding-left: 0;
    width: 600px;
}
