/* Presentacion en el centro de la pantalla */
.presentacion{
    padding-left: 25%;
    padding-right: 25%;
}

/* Encabezado generico*/
.encabezado{ 
    border-collapse: separate;    
    width: 100%;
}

/* Información del tema tanto en Ver como en Agregar*/
.infoTema li{
    display: inline;     
    margin-right: 20px;
}

/* Agregar Comentario*/
.listaComentarios hr {     
    width:50%;     
    margin-right: 50%;
    height:1px; 
    background: #fff 
}

ul.listaComentarios{
    list-style-type: none;
}

.listaComentarios th ,tr {
    border-right: 1px solid black;
}

/* Ver Tema Pregunta*/
.verTemas a{
    color: black;
    text-decoration: none;
}

.verTemas hr{
    width: 50%;     
    margin-right: 50%;
    height:1px; 
    background: #fff 
}

.verTemas div{
    padding: 10px;
}

.tema {
    border-top: 1px solid black;
     margin: 0 auto;
     width: 600px;
}

.tema:first-child {
    border-top-width: 0px;
    margin-top: 30px;
}
